.feather-16[b-0j7td7isxx]{
    width: 16px;
    height: 16px;
    }
    .feather-24[b-0j7td7isxx]{
    width: 24px;
    height: 24px;
    }
    .feather-32[b-0j7td7isxx]{
    width: 32px;
    height: 32px;
    }

    .btn[b-0j7td7isxx]{
        border:black;
        background-color:rgb(79, 50, 47);
        cursor:pointer;
        display:inline-block
    }

    .dv-cntr[b-0j7td7isxx]{
        text-align:center;
        height: 32px;
    }

    .add-btn[b-0j7td7isxx]{
        text-align: right;
        margin-right: 15%;
    }

    