@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br><br><br><br><br>
    <h1 class="display-4">Welcome to House's Hospitalization System</h1>
    <p><i data-feather="alert-circle"></i>Obtenga mas informacion de cada Entidad en su respectivo apartado...</a>.</p>
</div>
