.feather-16{
    width: 16px;
    height: 16px;
    }
    .feather-24{
    width: 24px;
    height: 24px;
    }
    .feather-32{
    width: 32px;
    height: 32px;
    }

    /* .btnNN{
        border:black;
        background-color:rgb(79, 50, 47);
        cursor:pointer;
        display:inline-block
    } */

    #dv-cntr{
        text-align:center;
        align-content: center;
        height: 40px;
    }

    #marg-der{
        text-align: right;
        margin-right: 1%;
        }

    .container{
        margin-bottom: 10%;
    }